@charset "UTF-8";

body {
	color: #555;
	background: #eeeeee;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1
{
	padding: 50px 0;
	font-weight: bolder;
	text-align: center;
}

p
{
	margin: 0 0 20px;
	line-height: 1.5;
}

.main
{
	min-width: 320px;
	max-width: 800px;
	padding: 50px;
	padding-left: 0px;
	padding-right: 0px; 
	margin: 0 auto;
	background: #ffffff;

	
}

section
{
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}

input
{
	display: none;
} 

label {
	
	display: inline-block;
	margin: 0 0 -1px;
	padding: 10px 20px;
	padding-left: 30px;
	padding-right: 30px;

	font-weight: bold;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

label:hover
{
	color: #336699;
	cursor: pointer;
}


input:checked + label
{
	color: #333300;
	border: 1px solid #ddd;
	border-top: 2px solid #183350;
	border-bottom: 1px solid #ffffff;
}

/* label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid #183350;
	border-bottom: 1px solid #ffffff;
} */

#tab1:checked ~ 
#tab2:checked ~ 
#tab3:checked ~ 
#tab4:checked ~ 
#tab5:checked ~ 
#tab6:checked ~ 
{
	display: block;
}

