@charset "UTF-8";
.reqList .outTd
{
	text-align: center;
}
.tblModal
{
	text-align: left;
}
.reqList .outTr th
{
	background-color: #f2f2ff;
}
.pageTitle h1
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20pt;
	font-weight: bold;
	color: #183350;
}
.reqList th
{
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}
.icon
{
	margin-right: 3%;
}
.list-my-tags {
    list-style: none;
    padding: 0;
    margin: 0.75rem 0 0 0;
}
.list-my-tags .stack-item {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.1875rem 0.5rem;
    vertical-align: top;
    border-radius: 0.25rem;
    font-weight: 500;
    color: #44576C;
    background-color: #E9ECF3;
}
.modalImg
{
	text-align: center;
}
.myimg 
{
	display: inline-block;
	margin: 2px;
    max-width: 15rem;
    max-height: 15rem;
    margin-bottom: 2%;
}
.myStudy, .myProject
{
	-webkit-padding-start:0px;
}
.mbody .quest, .mbody .ans
{
	margin-bottom: 2%;
}

