@charset "UTF-8";

.great1
{
	margin-top: 5px;
}
html, body
{
   overflow-x:hidden !important;
   overflow-y:auto !important;
}
.deev textarea
{
	width: 100%;
	border: 1px solid gray;
	
}

.price-box {
    margin: 0 auto;
	border-radius: 10px;
	width: 500px;
}

.ui-widget-content {
	border: 1px solid #bdc3c7;
	color: #222222;
	margin-top: 4px;
}

.ui-state-default, .ui-widget-content .ui-state-default{
background:transparent !important;
border:none !important;
}
/*  */
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 5.2em;
	height: 100px;
	cursor: default;
	margin: 0 -40px auto !important;
	text-align: center;	
	line-height: 35px;
	color: black;
	font-size: 15px;
    
}

/*  */
.ui-slider-horizontal .ui-slider-handle {
	top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #3498db;
}
