@charset "UTF-8";

.detail th
{
	text-align: center;
	background-color: #EEEEEE;
}
.tit td
{
	text-align: center;
}
.bottom
{
	text-align: center;
}
.btm
{
	display: inline-block;
}
.errMsg
{
	margin-bottom: 20px;
	color: red;
}
.file-cancel
{
	background-color: #5f5f5f;
	color: white;
}
.container-fluid
{
	margin-top: 10px;
	margin-bottom: 50px;
}