@charset "UTF-8";

.sub
{
	text-align: right;
}
.pagination
{
	margin:0 auto; 

} 
.paging
{
   text-align: center;

}
.pagination>li>a, .pagination>li>span
{
   color: black;
   text-align: center;
}
.create
{
	margin-top: 20px;
	position: relative;
}
.createBtn
{
	position: absolute;
	bottom: 0;
	right: 0;	
}
.study-img
{
	margin-top: 20px;
	width: 100%;
	height:200px;
	border-radius: 10px;
}

.content
{
	margin-top: 20px;
	margin-bottom: 20px;
	
}
.study-date
{
	margin-right: 20px;
}
.search
{
	margin: 0 auto;
}
.list
{
	margin-top: 20px;
	margin-bottom: 20px;
}
dt
{
	margin-bottom: 10px;
	font-size: 14pt;
	font-weight: bold;
}
dd
{
	font-family: 나눔고딕;
	font-weight: bold;
	color: #4a4a4a;
	margin-left: 2px;
}

.list-study {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.list-study .list-study-item {
	border: 1px solid #c0c0c0;
	border-radius: 10px;
    display: flex;
    position: relative;
    color: #263747;
    padding: 10px;
    font-size: 0;
    margin-top: 10px;
}

.list-study .list-study-item .study-logo {
	margin: 2px;
    width: auto;
    max-width: 16rem;
    height: auto;
    max-height: 16rem;
    border-radius: 0.5rem;
    margin-right: 20px;
}



.list-study .list-study-item .item-body {
    width: calc(100% - 6rem);
}
.list-study .list-study-item .item-body, .list-study .list-study-item .item-header {
    display: inline-block;
    vertical-align: top;
}

.list-study .list-study-item .study-title {
    /* transition-duration: 0.08s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: initial; */
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
}
.list-study .list-study-item .study-info {
    list-style: none;
    padding: 0;
    margin-top: 0.375rem;
}
.list-study .list-study-item .study-info li {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5rem;
    color: #98A8B9;
}
.list-study-tags {
    list-style: none;
    padding: 0;
    margin: 0.75rem 0 0 0;
}
.list-study-tags .stack-item {
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.1875rem 0.5rem;
    vertical-align: top;
    border-radius: 0.25rem;
    font-weight: 500;
    color: #44576C;
    background-color: #E9ECF3;
}

.search > input.tag
{
	width: 30%;
}
.search > input.title
{
	width: 58%;
}
.search > button.searchBtn
{
	width: 10%;
}
div > h5
{
	display: inline;
}